<template name="threadList">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Xiashuo</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_newThread">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each threads}}
          {{#ionItem buttonRight=true avatar=false class="item-icon-right"}}
            <!-- <img src="{{avatarUrl}}"> -->
            <h2>{{title}}</h2>
            <p>{{createdAt}}</p>
            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
