<template name="threadDetail">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="threadList"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Xiashuo - {{thread.title}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="content-stable"}}

      {{#ionList}}

        {{#with thread}}

          {{#ionItem}}
            <h2 id="post-title" data-thread="{{_id}}">{{getOPDisplayName posts}} Topic: <b>{{title}}</b></h2>
          {{/ionItem}}

          {{#each posts}}

            {{#ionItem class="item-icon-left"}}

              <div class="icon">{{displayName}}</div>
              <p>
                {{dateFromNow timestamp}}
              </p>
              <h2>{{message}}</h2>

            {{/ionItem}}

          {{/each}}

        {{/with}}

      {{/ionList}}





    {{/ionContent}}

    {{#ionFooterBar class="bar-stable item-input-inset message-footer"}}
      <!-- <form id="sendMessage"> -->
        <label class="item-input-wrapper">
          <input id="messageBox" maxlength="200" type="text" placeholder="Type your message" />
        </label>
        <button id="sendMessageBtn" type="submit" class="button button-clear">Send</button>
      <!-- </form> -->
    {{/ionFooterBar}}
  {{/ionView}}
</template>
